*{
    margin: 0px;
    padding: 0px;
}
body{
    
   width: 1070px;
   padding: 5px;
   border: 1px solid rgb(185, 185, 244);
   margin: auto;
}

h4 {
    border: 1px solid black;
    text-align: center;
}

.title > span {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif; 
}

.text {
    
    margin-top: 80px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    margin-bottom: 30px;
    text-align: center;
}

.div-flex {
    display: flex;
    gap: 550px;  
    margin-bottom: 50px;
}
.base-text > span {
 margin-left: 20px;
 margin-bottom: 30px;
}



.boxes {
display: flex;
width: 100%;
margin-top: 30px;
}

.box-1 {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.box-2 {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
   
}

.pib {
    margin-right: 150px;
}